# --- Локальная разработка (PostgreSQL) ---
DATABASE_URL="postgresql://postgres:password@localhost:5432/todo_list"
DIRECT_URL="postgresql://postgres:password@localhost:5432/todo_list"

# --- Продакшн / Vercel (Neon) ---
# DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require"
# DIRECT_URL="postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require"

JWT_SECRET="your-super-secret-key"
PORT=3001
